<!-- user information -->
<div class="row featurette mt-3">
    <div class="col-md-2">
      <img class="featurette-image img-fluid mx-auto rounded-circle" src="{{currentUser.imageUrl}}" alt="image" height="120px" width="120px">
    </div>
    <div class="col-md-5">
        <h2 class="featurette-heading"><fa name="spotify"></fa> profile <span class="text-muted">details</span></h2>
        <h3>{{currentUser.display_name}}</h3>
        <p class="lead">{{currentUser.email}} | {{currentUser.country}} | spotify id: {{currentUser.id}}</p>
    </div>
</div>
<hr class="featurette-divider">

<!-- browse -->
<div class="row">
  <div class="col-md-12">
      <h3>browse spotify</h3>
      <form>
        <div class="form-group">
          <input name="searchString"
           type="text"
           [(ngModel)]="searchString"
           class="form-control"
           placeholder="search for artists, albums or tracks"
           (keyup)="searchMusic()"/>
        </div>
      </form>
  </div>
</div>

<!-- search results -->
<div *ngIf = "(searchResults | json) != '{}'">
  <h3>search results</h3>
  <div style="overflow-y: scroll; height:350px;" id="style-2">
      <div *ngIf="searchResults.tracks.items.length>0" class="ml-1">
        <h4>matching tracks</h4>
        <div *ngFor = "let track of searchResults.tracks.items">
          <div class="row py-2 mb-1" *ngIf="track.name != '' && track.album.images.length>0">
            <div class="col-md-9">
              <div class="row search-res well">
                <div class="col-md-1">
                    <img src="{{track.album.images[1].url}}" height="60px" width="60px" class="img-fluid mx-auto rounded-circle"/>
                </div>
                <div class="col-md-11">
                  <span *ngIf="track.preview_url!=null; else nolink" class="lead"><a href="{{track.preview_url}}" target="_blank"><fa name="play-circle" animation="spin"></fa> {{track.name}}</a> - <strong>{{track.album.name}}</strong></span>
                  <ng-template #nolink>
                    <span class="lead"><a href="#">{{track.name}}</a> - <strong>{{track.album.name}}</strong></span>
                  </ng-template>
                  <br/>
                  <div class="btn-group">
                    <button (click)="addToLibrary(track.id)" class="btn btn-outline-success"><fa name="plus-circle"></fa> library</button>
                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                      <button class="btn btn-outline-primary" ngbDropdownToggle>add to</button>
                      <div class="dropdown-menu" ngbDropdownMenu>
                        <button class="dropdown-item" *ngFor="let userPlaylist of userOwnedPlayists"><span class="lead"
                          (click)="onAddToPlaylist(userPlaylist.name,userPlaylist.id,track.uri)">{{userPlaylist.name}}</span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="grad">
      <div *ngIf="searchResults.albums.items.length>0" class="ml-1">
        <h4>matching albums</h4>
        <div *ngFor = "let album of searchResults.albums.items">
          <div class="row py-1 mb-1" *ngIf="album.name != '' && album.images.length>0">
            <div class="col-md-12">
              <div class="row search-res well">
                <div class="col-md-1">
                    <img src="{{album.images[1].url}}" height="50px" width="50px" class="img-fluid mx-auto rounded-circle"/>
                </div>
                <div class="col-md-8">
                  <span class="lead"><a href="#">{{album.name}}</a></span><br>
                  <strong>album type: </strong><span>{{album.album_type}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="grad">
      <div *ngIf="searchResults.artists.items.length>0" class="ml-1">
          <h4>matching artists</h4>
          <div *ngFor = "let artist of searchResults.artists.items">
            <div class="row py-1 mb-1" *ngIf="artist.name != '' && artist.images.length>0">
              <div class="col-md-12">
                <div class="row search-res well">
                  <div class="col-md-1">
                      <img src="{{artist.images[1].url}}" height="50px" width="50px" class="img-fluid mx-auto rounded-circle"/>
                  </div>
                  <div class="col-md-8">
                    <span class="lead"><a href="#">{{artist.name}}</a></span><br>
                    <strong>genres: </strong>
                    <span *ngFor = "let genre of artist.genres">{{genre}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-lg-5 mx-auto">
    <hr>
  </div>
</div>

<!-- user library -->
<h3 class="mt-2">your library<span class="lead"> ({{librarySize}} tracks)</span></h3>
<div class="row mt-4 mb-3" style="overflow-y: scroll; height: 400px;" id="style-2" detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="200">
  <div *ngFor="let track of userLibrary.items" class="col-lg-12">
    <div class="row">
      <div class="col-lg-1">
        <img class="featurette-image mx-auto img-fluid rounded" src="{{track.track.album.images[0].url}}" alt="image" height="50px" width="50px">
      </div>
      <div class="col-lg-10" style="position:relative; transform:translateY(20%);">
          <span class="lead" *ngIf="track.track.preview_url!=null; else nolink"><a href="{{track.track.preview_url}}" target="_blank"><fa name="play-circle" animation="spin"></fa>{{track.track.name}}</a> - <strong>{{track.track.album.name}}</strong></span>
          <ng-template #nolink>
              <span class="lead" ><a href="#">{{track.track.name}}</a> - <strong>{{track.track.album.name}}</strong></span>
          </ng-template>
          <button class="btn btn-outline-danger py-0" style="float: right;" (click)="deleteFromLibrary(track.track.id)"><fa name="minus-circle"></fa></button>
      </div>
      <div class="col-lg-10 mx-auto py-0">
        <hr/>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-lg-5 mx-auto">
    <hr>
  </div>
</div>

<!-- user playlists -->
<div class="row mb-2">
  <div class="col-lg-12 mx-auto">
    <div *ngIf="userPlaylists.items.length>0">
        <div class="row">
          <div style="width:100%">
              <h3 class="mb-3" style="float:left">playlists you follow</h3>
              <button class="btn btn-outline-success" style="float:right" (click)="open(content)"><fa name="plus-circle"></fa> new playlist</button>
          </div>
          <div *ngFor="let playlist of userPlaylists.items">
            <div class="col-lg-12 py-2" style="width:360px">
              <div class="row">
                <div class="col-lg-3">
                    <img *ngIf="playlist.images.length>0; else alt" src="{{playlist.images[0].url}}" height="50px" width="50px" class="img-fluid mx-auto rounded" alt="img"/>
                    <ng-template #alt>
                        <img src="" height="50px" width="50px" class="img-fluid mx-auto rounded" alt="img"/>
                    </ng-template>
                </div>
                <div class="col-lg-9">
                  <span class="lead"><a href="#" [routerLink]="['/view-playlist',playlist.owner.id,playlist.id]">{{playlist.name}}</a> by</span> <strong><span class="lead">{{playlist.owner.display_name}}</span></strong><br>
                  <strong>total tracks: </strong>{{playlist.tracks.total}}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- new playlist modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">create a new playlist</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form novalidate #f="ngForm" (ngSubmit)="onSubmitNewPlaylist(f)">
          <div class="form-group">
              <input 
                  type="text" 
                  class="form-control"
                  [ngClass]="{'is-invalid':playlistName.errors?.required && playlistName.touched}"
                  [(ngModel)]="newPlaylist.name"
                  #playlistName = "ngModel"
                  name="name"
                  required
                  placeholder="playlist name" />
              <div *ngIf="playlistName.errors?.required && playlistName.touched" class="invalid-feedback">
                  playlist name is required
              </div>
          </div>
          <div class="form-group">
              <input 
                  type="text" 
                  class="form-control"
                  [(ngModel)]="newPlaylist.description"
                  name="description"
                  placeholder="playlist description" />
          </div>
          <!-- <input type="submit" value="create" class="btn btn-primary"> -->
          <button type="submit" class="btn btn-outline-success">create <fa name="music"></fa></button>
      </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>