<!-- user information -->
<div class="row featurette mt-3">
    <div class="col-md-2">
      <img class="featurette-image img-fluid mx-auto rounded-circle" src="{{currentUser.imageUrl}}" alt="image" height="120px" width="120px">
    </div>
    <div class="col-md-5">
        <h2 class="featurette-heading">user profile <span class="text-muted">details</span></h2>
        <h3>{{currentUser.display_name}}</h3>
        <p class="lead">{{currentUser.email}} | {{currentUser.country}} | spotify id: {{currentUser.id}}</p>
    </div>
</div>
<hr class="featurette-divider">

<!-- browse -->
<div class="row">
  <div class="col-md-12">
      <h3>browse spotify</h3>
      <form>
        <div class="form-group">
          <input name="searchString"
           type="text"
           [(ngModel)]="searchString"
           class="form-control"
           placeholder="search for artists, albums or tracks"
           (keyup)="searchMusic()"/>
        </div>
      </form>
  </div>
</div>

<!-- search results -->
<div *ngIf = "(searchResults | json) != '{}'">
  <h3>search results</h3>
  <div style="overflow-y: scroll; height:350px;" id="style-2">
      <div *ngIf="searchResults.artists.items.length>0" class="ml-1">
          <h4>matching artists</h4>
          <div *ngFor = "let artist of searchResults.artists.items">
            <div class="row py-1 mb-1" *ngIf="artist.name != '' && artist.images.length>0">
              <div class="col-md-10">
                <div class="row search-res well">
                  <div class="col-md-1">
                      <img src="{{artist.images[1].url}}" height="50px" width="50px" class="img-fluid mx-auto rounded-circle"/>
                  </div>
                  <div class="col-md-8">
                    <span><a href="#">{{artist.name}}</a></span><br>
                    <strong>genres: </strong>
                    <span *ngFor = "let genre of artist.genres">{{genre}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <hr class="grad">
      <div *ngIf="searchResults.albums.items.length>0" class="ml-1">
        <h4>matching albums</h4>
        <div *ngFor = "let album of searchResults.albums.items">
          <div class="row py-1 mb-1" *ngIf="album.name != '' && album.images.length>0">
            <div class="col-md-10">
              <div class="row search-res well">
                <div class="col-md-1">
                    <img src="{{album.images[1].url}}" height="50px" width="50px" class="img-fluid mx-auto rounded-circle"/>
                </div>
                <div class="col-md-8">
                  <span><a href="#">{{album.name}}</a></span><br>
                  <strong>album type: </strong><span>{{album.album_type}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="grad">
      <div *ngIf="searchResults.tracks.items.length>0"  class="ml-1">
        <h4>matching tracks</h4>
        <div *ngFor = "let track of searchResults.tracks.items">
          <div class="row py-1 mb-1" *ngIf="track.name != '' && track.album.images.length>0">
            <div class="col-md-10">
              <div class="row search-res well">
                <div class="col-md-1">
                    <img src="{{track.album.images[1].url}}" height="50px" width="50px" class="img-fluid mx-auto rounded-circle"/>
                </div>
                <div class="col-md-8">
                  <span *ngIf="track.preview_url!=null; else nolink"><a href="{{track.preview_url}}" target="_blank"><fa name="play-circle" animation="spin"></fa> {{track.name}}</a></span>
                  <ng-template #nolink>
                    <span><a href="#">{{track.name}}</a></span>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-lg-5 mx-auto">
    <hr>
  </div>
</div>

<!-- user playlists -->
<div class="row">
  <div class="col-lg-12 mx-auto">
    <div *ngIf="userPlaylists.items.length>0">
        <h3>playlists you follow</h3>
        <div class="row mt-1">
          <div *ngFor="let playlist of userPlaylists.items">
            <div class="col-lg-12 py-2" style="width:360px">
              <div class="row">
                <div class="col-lg-3">
                    <img src="{{playlist.images[0].url}}" height="50px" width="50px" class="img-fluid mx-auto rounded"/>
                </div>
                <div class="col-lg-9">
                  <span><a href="#" [routerLink]="['/view-playlist',playlist.owner.id,playlist.id]">{{playlist.name}}</a></span> by <strong>{{playlist.owner.display_name}}</strong><br>
                  <strong>total tracks: </strong>{{playlist.tracks.total}}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

